*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);;
    --second-bg-color: ; 
    --text-color: white;
    --main-color: cyan;
    --address-color:#052e73;
    --1st-btn: #228bee ;
    --navbar: white;
    --navbar-txt:black;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
}

.top-address{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 2rem 9%;
    background: var(--address-color);
    backdrop-filter: blur (10px);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.header{
    position: fixed;
    top: 6%;
    left: 0%;
    width: 100%;
    padding: 3rem 9%;
    background: var(--navbar);
    backdrop-filter: blur (10px);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    color: var(--navbar-txt);
}
.Logo i{
    color: #05b9de;
}

.Logo{
    color: #052e73;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.Logo:hover{
    transform: scale(1.1);
}
.Logo span{
    color: black;
}


.navbar a{
    font-size: 1.8rem;
    color: var(--navbar-txt);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}


.navbar a:hover,
.navbar a:active{
    color: #052e73;
    border-bottom: 3px solid #05b9de;
}
#menu_icon{
    font-size: 3.6rem;
    color: var(--1st-btn);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}


.home{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img img{
    position: relative;
    top: 3rem;
    width: 29vw;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
/* .home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color)
} */

.home-content-p{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background: white;
    color: #05b9de;
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.phone-call{
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: white;
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.2rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.phone-call i{
    margin-right:1rem ;
    color:#052e73;
    font-size: 2.5rem;
}
.call-content{
    gap: 5rem;
    color: #05b9de;
}
.call-content p{
    color: black;
}

.formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    background: white;
    border-radius: 1rem;
    border: 1px solid;
    z-index: 10;
    right: 1%;
    top: 70%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-wrapper h2{
    color: black;
    font-size: 2.5rem;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: rgba(0,212,255,1);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color:var(--1st-btn);
    color: white;
    width: 100%;
    cursor: pointer;
  }
  .formbold-btn:hover {
    background: var(--address-color);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }












  .footer{
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color:var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height:42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}
/*======== Responsive part========*/



@media(max-width:1285px){
    html{
        font-size: 50%;
    }
}


@media(max-width:991px){
    header{
        padding: 1rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

}


@media(max-width:700px){
    html{
        font-size: 35%;
    }
    #menu_icon{
        display: block;
    }
    .header{
        top: 3.5%;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: var(--1st-btn);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .navbar a:hover,
    .navbar a:active{
    color: black;
    border-bottom: 3px solid var(--address-color);
}
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content-p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width:56vw;
        margin-top: -2rem;
    }
    .phone-call{
        position: fixed;
        z-index: 10;
        left: 0;
        bottom: 83%;
    }
    .formbold-main-wrapper{
        top: 110%;
    }
    .footer{
        margin-top: 30%;
    }
}